<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
          "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
          "https://checkstyle.org/dtds/configuration_1_3.dtd">

<module name="Checker">
	<property name="fileExtensions" value="java, properties, xml" />

	<!-- Excludes all 'module-info.java' files -->
	<!-- See https://checkstyle.org/config_filefilters.html -->
	<module name="BeforeExecutionExclusionFileFilter">
		<property name="fileNamePattern" value="module\-info\.java$" />
	</module>

	<!-- This is a code layout, style and naming rule -->
	<module name="RegexpSingleline">
		<!-- <property name="format" value="\s+$"/> -->
		<property name="minimum" value="0" />
		<property name="maximum" value="0" />
		<property name="message" value="Line has trailing spaces." />
		<property name="severity" value="warning" />
	</module>

	<module name="TreeWalker">

		<!-- Mandatory Rules -->
		<module name="OneTopLevelClass">
			<property name="severity" value="error" />
		</module>
	
		<module name="EqualsHashCode">
			<property name="severity" value="error" />
		</module>

		<module name="VisibilityModifier">
			<property name="allowPublicFinalFields" value="true" />
			<property name="allowPublicImmutableFields" value="true" />
			<property name="severity" value="error" />
		</module>
	
		<module name="InvalidJavadocPosition">
			<property name="severity" value="error" />
		</module>

		<module name="JavadocMethod">
			<property name="severity" value="error" />
		</module>

		<module name="JavadocType">
			<property name="authorFormat" value="\d{6}\w{2}.*" />
			<message key="name.invalidPattern"
	   			value="Class level Javadoc must be present and contain an author with an ERNA, for example '@author 123456ae Adrian Example'." />
			<property name="severity" value="error" />
		</module>

		<module name="MissingJavadocMethod">
			<property name="severity" value="error" />
		</module>
		
		<module name="MissingJavadocType">
			<property name="severity" value="error" />
		</module>

		<module name="NonEmptyAtclauseDescription">
			<property name="severity" value="error" />
		</module>
		
		
		<!-- Important Rules -->
		
		<module name="AvoidNestedBlocks">
			<property name="allowInSwitchCase" value="true" />
			<property name="severity" value="warning" />
		</module>

		<module name="EmptyCatchBlock">
			<property name="severity" value="warning" />
		</module>
		
		<module name="NeedBraces">
			<property name="severity" value="warning" />
		</module>

		<module name="HiddenField">
			<property name="ignoreConstructorParameter" value="true" />
			<property name="ignoreSetter" value="true" />
			<property name="severity" value="warning" />
		</module>

		<module name="InnerAssignment">
			<property name="severity" value="warning" />
		</module>

		<module name="SimplifyBooleanExpression">
			<property name="severity" value="warning" />
		</module>

		<module name="SimplifyBooleanReturn">
			<property name="severity" value="warning" />
		</module>
		
		<!-- Sloppy Code Rules -->
		
		<module name="IllegalCatch">
			<property name="severity" value="info" />
		</module>
		<module name="IllegalThrows">
			<property name="severity" value="info" />
		</module>
		<module name="IllegalType">
			<property name="severity" value="info" />
		</module>
		<module name="UnusedImports">
			<property name="processJavadoc" value="false" />
			<property name="severity" value="info" />
		</module>
		<module name="TodoComment">
			<property name="format"
				value="(TODO:)|(generated method stub)" />
			<message key="name.invalidPattern"
				value="Comments should not contain the text 'TODO:' or 'generated method stub'" />
			<property name="severity" value="info" />
		</module>

		<module name="UncommentedMain">
			<property name="excludedClasses" value="Main$" />
			<message key="name.invalidPattern"
				value="Main methods are only allowed in classes with names ending with 'Main'" />
			<property name="severity" value="info" />
		</module>

		<module name="EmptyBlock">
			<property name="severity" value="info" />
		</module>

		<module name="EmptyStatement">
			<property name="severity" value="info" />
		</module>
		

		<!-- From here onward, it should be a lower level-->
		<!-- Code layout, style and naming rules -->
		<!-- Whitespace and Layout -->
		<module name="MethodParamPad">
			<property name="severity" value="info" />
		</module>

		<module name="GenericWhitespace">
			<property name="severity" value="info" />
		</module>

		<module name="SingleSpaceSeparator">
			<property name="severity" value="info" />
		</module>

		<module name="CommentsIndentation">
			<property name="severity" value="info" />
		</module>

		<module name="TrailingComment">
			<property name="severity" value="info" />
		</module>

		<module name="OneStatementPerLine">
			<property name="severity" value="info" />
		</module>

		<module name="CommentsIndentation">
			<property name="severity" value="info" />
		</module>

		<!-- Naming Things -->
		<module name="ConstantName">
			<property name="severity" value="info" />
		</module>

		<module name="LambdaParameterName">
			<property name="severity" value="info" />
		</module>

		<module name="LocalFinalVariableName">
			<property name="severity" value="info" />
		</module>

		<module name="LocalVariableName">
			<property name="severity" value="info" />
		</module>

		<module name="MemberName">
			<property name="severity" value="info" />
		</module>

		<module name="MethodName">
			<property name="severity" value="info" />
		</module>

		<module name="ParameterName">
			<property name="severity" value="info" />
		</module>

		<module name="StaticVariableName">
			<property name="severity" value="info" />
		</module>

		<module name="TypeName">
			<property name="severity" value="info" />
		</module>

	</module>
</module>
